---
import { FULL_NAME } from '../consts';
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
	<p class="footer-text">
		&copy; {today.getFullYear()} {FULL_NAME}. All rights reserved.
	</p>
	<SocialLinks variant="footer" />
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		text-align: center;
	}
	.footer-text {
		margin: 0 0 1em;
	}
	footer :global(.social-links a) {
		text-decoration: none;
		color: var(--accent);
	}
	footer :global(.social-links a:hover) {
		color: var(--accent);
	}
</style>
